body {
    margin: 0;
    box-sizing: 'border-box';
}

.full-height {
    height: 100vh;
    background-color: lightblue;
  }
  .half-width {
    height: 50vh;
    background-color: coral;
    color: white;
    text-align: center;
    padding: 50px;
  }