body {
    margin: 0
}

.full-height {
    height: 100vh; /* Full height of the viewport */
    background-color: lightblue;
  }
  .half-width {
    height: 50vw; /* Half the width of the viewport */
    background-color: coral;
    color: white;
    text-align: center;
    padding: 20px;
  }